<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OFFERS</title>
    <div th:replace="~{ fragments/fragments :: favicon}"></div>
    <div th:replace="~{ fragments/fragments :: tailwind}"></div>
  </head>
  <body class="mb-30">
    <div th:replace="~{ fragments/fragments :: navbar }"></div>
    <h1
      class="text-5xl text-slate-700 font-bold italic text-center pt-10 pb-10"
    >
      Modifica offerta:
      <span class="underline">[[${specialOffer.getName()}]]</span>
    </h1>
    <form
      th:action="@{/special-offers/edit/{offerId}(offerId = ${specialOffer.getId()})}"
      th:object="${specialOffer}"
      method="post"
      class="flex flex-col justify-center gap-3 w-2/3 mx-auto p-5"
    >
      <!-- hidden pizza -->
      <input type="hidden" th:field="*{pizza}" />

      <!-- nome (input container) -->
      <div class="flex sm:gap-5 grow flex-wrap">
        <div class="flex flex-col grow">
          <!-- name input -->
          <label for="name">Nome</label>
          <input
            class="border ps-2 py-1"
            type="text"
            id="name"
            th:field="*{name}"
            th:errorClass="bg-red-200"
            placeholder="Inserisci qui il tuo nome"
          />
          <!-- validazione -->
          <div th:if="${#fields.hasErrors('name')}">
            <div
              class="italic text-slate-500"
              th:each="error : ${#fields.errors('name')}"
              th:text="${error}"
            ></div>
          </div>
        </div>
      </div>
      <!-- startDate e endDate (input container) -->
      <div class="flex sm:gap-5 grow flex-wrap">
        <!-- startDate container -->
        <div class="flex flex-col grow">
          <!-- startDate input -->
          <label for="startDate"
            >Data inizio
            <!-- <span class="italic text-slate-500"
              >(attuale: [[${specialOffer.getStartDate()}]])</span
            > -->
          </label>
          <input
            class="border ps-2 py-1"
            type="date"
            id="startDate"
            th:field="*{startDate}"
            th:errorClass="bg-red-200"
            placeholder="Inserisci qui la data di inizio offerta"
          />
          <!-- validazione -->
          <div th:if="${#fields.hasErrors('startDate')}">
            <div
              class="italic text-slate-500"
              th:each="error : ${#fields.errors('startDate')}"
              th:text="${error}"
            ></div>
          </div>
        </div>
        <!-- endDate container -->
        <div class="flex flex-col grow">
          <!-- endDate input -->
          <label for="endDate"
            >Data fine
            <!-- <span class="italic text-slate-500"
              >(attuale: [[${specialOffer.getEndDate()}]])</span
            > -->
          </label>
          <input
            class="border ps-2 py-1"
            type="date"
            id="endDate"
            th:field="*{endDate}"
            th:errorClass="bg-red-200"
            placeholder="Inserisci qui la data di inizio offerta"
          />
          <!-- validazione -->
          <div th:if="${#fields.hasErrors('endDate')}">
            <div
              class="italic text-slate-500"
              th:each="error : ${#fields.errors('endDate')}"
              th:text="${error}"
            ></div>
          </div>
        </div>
      </div>

      <div class="flex gap-3 py-3">
        <a
          th:href="@{/pizzas/{pizzaId}(pizzaId = ${specialOffer.getPizza().getId()})}"
          th:text="Annulla"
          class="bg-red-500 text-white px-2 py-1 grow hover:bg-red-600 cursor-pointer text-center"
        />
        <input
          type="submit"
          value="Aggiorna offerta"
          class="bg-blue-500 text-white px-2 py-1 grow-3 hover:bg-blue-600 cursor-pointer text-center"
        />
      </div>
    </form>
  </body>
</html>
